



<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<title>누리숲</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />

</head>

<body>
    
<table width="760" align="center" style='background: url("http://static.nurisoop.co.kr/images/img/mail_bg.jpg") repeat-y; color: rgb(114, 110, 109); line-height: 1.7; font-family: Dotum, "돋움"; font-size: 12px;' border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td><map name="Map" id="Map"><area href="http://www.nurisoop.co.kr" shape="rect" coords="28,28,181,79" target="_blank" alt="누리숲홈페이지"> <area href="http://www.nurisoop.co.kr" shape="rect" coords="528,74,556,101" target="_blank" alt="홈"> <area href="http://www.nurisoop.co.kr/event" shape="rect" coords="564,74,604,111" target="_blank" alt="이벤트"> <area href="http://www.nurisoop.co.kr/community" shape="rect" coords="619,74,668,115" target="_blank" alt="커뮤니티"> <area href="http://www.nurisoop.co.kr/customer" shape="rect" coords="681,76,734,120" target="_blank" alt="고객센터"></map></td>
		</tr>
		<tr>
			<td align="center">
			<table width="690" align="center" style="background: rgb(255, 255, 255); border: 5px solid rgb(229, 222, 208);" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td>
						<table width="690" style='color: rgb(85, 85, 85); line-height: 1.5; font-family: "Nanum Gothic", "나눔고딕", "NanumGothicWeb", "맑은 고딕", "Malgun Gothic", "돋움", Dotum, sans-serif; font-size: 12px; border-bottom-color: rgb(223, 223, 229); border-bottom-width: 1px; border-bottom-style: solid;' cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td align="center" style="padding: 30px 0px; font-size: 18px; font-weight: 600;"><span style="color: rgb(118, 163, 61);">홍길동</span><span style="color: rgb(73, 79, 99); line-height: 2; "> 님께서 천연화장품 누리숲 쿠폰 3종세트를 보내주셨습니다.</span></td>
								</tr>
								<tr>
									<td height="600" align="center">
									<table style="cursor: pointer;" cellspacing="0" cellpadding="0" style="padding: 30px 30px; 30px; 30px;">
										<tbody>
											<tr>
												<td align="center" style="background:#fffbce; "><a href="" target="_blank"><img src="http://static.nurisoop.co.kr/images/img/mail_recommend.jpg" style="width:430px; height:221px;" alt="product"></a></td>
											</tr>
											<tr>
												<td class="tbCode" style="background:#fffbce; line-height: 26px; font-weight: 600; font-size: 15px; color: #383838; padding: 40px" >
												홍길동님이 추천하는 착한 천연화장품 누리숲! <br>
												가입시 추천인코드를 입력하시면 바로 사용이가능한 <br>누리숲 쿠폰 3종 세트를 드립니다. <br><br/>

												<b>★추천인코드: <font style="#ff6633">1212121212</font></b><br><br/>

												<u>혜택1. 10%할인쿠폰<br>
												혜택2. 2,500원 할인쿠폰<br>
												혜택3. 샘플킷 무료신청쿠폰</u><br><br/>

												<b>★추천인코드: <font style="#ff6633">1212121212</font></b><br><br/>


												숲이 들려주는 피부이야기, 천연화장품 누리숲에서 <br>
												착한 화장품을 피부에 선물해 보세요!<br><br/>

												<b>★추천인코드: <font style="#ff6633">1212121212</font></b><br>

											</tr>
                                            <tr>
                                                <td align="center" style="background:#fffbce; "><a href="" target="_blank"><span style="display:inline-block; width:271px; height:43px; background-color: rgb(118, 163, 62); color: rgb(255, 255, 255); font-size:18px; padding-top:14px; border-radius:6px; margin-bottom:50px;">누리숲 쿠폰받기 ></span></a></td>
                                            </tr>
											<tr><td height="50px"></td></tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>


</body>
</html>

